.bg-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #9796f0, #fbc7d4);
  font-family: 'Roboto';
  padding: 20px;
}
.card-container {
  background-color: #ffffff;
  width: 95%;
  height: 85%;
  border-radius: 10px;
  padding: 20px 40px 20px 40px;
}
.main-heading {
  color: #171f46;
  margin-bottom: 30px;
}
.input-container {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.top-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.image {
  height: 300px;
  width: 40%;
}
.title {
  color: #b5b7c4;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5px;
}
.input-text {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Roboto';
  outline: none;
  border: 1px solid #b5b7c4;
  padding-left: 15px;
  font-size: 15px;
  margin-bottom: 20px;
}
.input-date {
  width: 100%;
  padding: 10px;
  font-family: 'Roboto';
  border-radius: 5px;
  font-size: 15px;
  margin-bottom: 15px;
  outline: none;
  border: 1px solid #b5b7c4;
  padding-left: 15px;
}
.submit-button {
  margin-top: 15px;
  align-self: flex-start;
  height: 30px;
  width: 50px;
  cursor: pointer;
  outline: none;
  border-width: 0px;
  background-color: #8b5cf6;
  color: #ffffff;
  border-radius: 8px;
}

.seperator {
  border: 1px solid #b5b7c4;
  margin-bottom: 10px;
}

.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub-heading {
  font-size: 24px;
  color: #171f46;
  font-family: 'Roboto';
}
.starred {
  font-family: 'Roboto';
  height: 25px;
  width: 80px;
  border-radius: 10px;
  border-width: 0px;
  color: #8b5cf6;
  border: 1px solid #8b5cf6;
  background-color: transparent;
}
.star-clicked {
  background-color: #8b5cf6;
  color: #ffffff;
}
.list-container {
  width: 100%;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .bg-container {
    height: 100%;
  }
  .image {
    display: none;
  }
  .input-container {
    width: 100%;
  }
  .card-container {
    padding: 20px;
  }
  .main-heading {
    font-size: 20px;
  }
  .sub-heading {
    font-size: 15px;
  }
  .starred {
    width: 60px;
  }
}
